flask
gunicorn>=21.2.0
pandas==2.1.4
numpy>=1.23.5,<2.0.0
ccxt
requests
schedule
pytz
python-dotenv
yfinance
ta
matplotlib
# نصب مستقیم نسخه پایدار از گیت‌هاب برای حل تداخل نسخه‌ها
https://github.com/twopirllc/pandas-ta/archive/master.zip
